{% load static %}
<div class="relative isolate overflow-hidden">
    <!-- Overlay qui s'affiche en dessous de md -->
    <div class="absolute inset-0 bg-primary-950/60 md:bg-transparent -z-10"></div>

    <!-- Image d’arrière-plan -->
    <img src="{% static 'images/background_cta.png' %}" alt="" class="absolute right-0 bottom-0 -z-20 h-full object-cover">

    <!-- Contenu principal (au-dessus de l'overlay) -->
    <div class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8">
      <div class="max-w-2xl pb-28">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center mt-4">
          <div class="relative rounded-full w-auto px-3 py-1 text-sm sm:text-xl text-primary-300 ring-1 ring-secondary/10 tracking-widest">
            FULL-STACK DEVELOPER
          </div>
        </div>
        <div class="text-left">
          <h1 class="text-balance text-4xl font-semibold tracking-wider text-secondary sm:text-7xl pt-10">Sara <br> El Allouche</h1>
          <p class="mt-8 text-pretty text-md/4 text-primary-200 sm:text-xl/8">
            Hi! I’m a full-stack developer specializing in Django. Recently graduated with a Master’s degree in MIAGE from La Sorbonne, I’m passionate about web development and always eager for new challenges. Currently looking for my first job, I’m ready to bring my skills to a dynamic team!
          </p>
        </div>
      </div>
    </div>
</div>
