{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>SaraWeb</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="//unpkg.com/alpinejs" defer></script>
		<link rel="icon" type="image/png" href="{% static 'images/logo/codebysara.png' %}">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
		{% tailwind_css %}
	</head>
	<body class="relative">
		{% block navbar %}
			{% include 'navbar.html' %}
		{% endblock %}
	
		{% block content %}
		{% endblock %}
	
		{% block footer %}
			{% include 'footer.html' %}
		{% endblock %}
	</body>
	
</html>
