{% load static %}
{% load i18n %}

<section id="about" 
    
    class="bg-dark py-24 sm:py-32 ">
  
  <div class="relative isolate">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div x-data 
        x-intersect="$el.classList.add('opacity-100','translate-y-0'); $el.classList.remove('opacity-0','translate-y-10')" 
         class="opacity-0 translate-y-10 transition-all duration-[2000ms] mx-3 md:mx-auto flex max-w-2xl flex-col gap-16 bg-secondary_accent/40 px-6 py-6 ring-1 ring-white/10 rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
          <img class="max-h-96 max-w-96 mx-auto object-top w-full flex-none rounded-2xl object-cover object-top shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm" src="{% static 'images/home/ia.jpeg' %}" alt="">
          <div class="relative w-full flex-auto">
            <div class="flex items-center gap-x-8">
              <h2 class="text-pretty text-3xl font-semibold tracking-tight text-light sm:text-5xl">{% trans "À propos de moi" %}</h2>
              <a href="{% url 'about' %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-10  text-light">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
              </a>
            </div>
            <p class="mt-6 text-pretty text-lg/8 text-light">
              {% blocktrans %}
              Au cours de mes deux années d’alternance au sein d’une start-up spécialisée dans le développement web et mobile, j’ai acquis une expérience concrète en participant à toutes les phases des projets : de la conception à la mise en production, en passant par la maintenance évolutive. 
              Cette immersion m’a permis de mieux appréhender les enjeux techniques et organisationnels à chaque étape du cycle de développement.
              J’ai renforcé mes compétences en gestion de projet tout en consolidant une solide expertise technique, notamment avec Django, que j’ai utilisé pour développer des sites web dynamiques ainsi que des API performantes et sécurisées. 
              Par ailleurs, passionnée par le design web, je veille toujours à concilier esthétique et performance, dans le but de créer des interfaces intuitives et des expériences utilisateur de qualité.
              {% endblocktrans %} 
            </p>
          
            <div class="flex justify-end mt-6">
              <a href="{% static 'documents/CV.pdf' %}" 
                class="bg-gradient-to-r from-tertiary to-primary relative inline-flex items-center gap-x-1.5 rounded-full px-4 py-1.5 text-sm font-semibold text-light shadow-md hover:opacity-90 transition duration-300"
                download>
                {% trans "Téléchargez mon CV" %}
              </a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl" aria-hidden="true">
        <div class="aspect-[1318/752] w-[82.375rem] flex-none bg-gradient-to-r from-light to-primary opacity-55" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
      </div>
    </div>
  </section>