{% load static %}
{% load i18n %}
<section id="home" 
  class="relative isolate overflow-hidden z-10"
  x-data="{
    showFallback: false,
    tryPlayVideo() {
      const video = this.$refs.heroVideo;
      if (video) {
        video.play().catch(() => {
          this.showFallback = true;
        });

        // Quand la vidéo se termine → rester figée sur le dernier frame
        video.addEventListener('ended', () => {
          video.currentTime = video.duration; 
          video.pause();
        });
      }
    }
  }"
  x-init="tryPlayVideo()"
>
    <video x-show="!showFallback"
    x-ref="heroVideo" autoplay muted playsinline webkit-playsinline preload="auto" class="absolute inset-0 w-full h-full object-cover object-center z-0">
        <source src="{% static 'video/fond.mp4' %}" type="video/mp4" />
    </video>


  <!-- Image de fallback si autoplay échoue -->
  <div x-show="showFallback" 
       class="absolute inset-0 w-full h-full object-cover object-center z-0">
      <img src="{% static 'images/home/fond2.jpg' %}" alt="Background"
           class="w-full h-full object-cover" />
  </div>




    <!-- Contenu principal (au-dessus de l'overlay) -->
    <div class="relative  mx-auto max-w-7xl px-6 lg:px-8 my-48">
          <!-- Contenu au-dessus -->
          <div class="relative z-50 text-center">
            <h1 class="max-w-4xl mx-auto text-6xl md:text-8xl font-bold tracking-wider text-light  py-10">
              Sara El Allouche
            </h1>
            <div class=" sm:mb-8 sm:flex sm:justify-center mt-4">
              <div class="relative rounded-full w-auto px-3 py-1 text-xl md:text-4xl text-light font-semibold  ring-2 ring-tertiary/50 tracking-widest">
                {% trans "DÉVELOPPEUSE FULL-STACK " %}
              </div>
            </div>
            
          </div>
        
    </div>
</section>
