{% extends 'base.html' %}
		{% block content %}

<div class="relative isolate overflow-hidden">
    <img src="https://st.depositphotos.com/1793519/3160/i/450/depositphotos_31608755-stock-photo-3d-abstract-violet-purple-crystal.jpg" alt="" class="absolute inset-0 -z-10 size-full object-cover">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:py-32">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm/6 text-primary-400 ring-1 ring-secondary/10 hover:ring-secondary/20">
            Let’s build your web project together !
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-balance text-5xl font-semibold tracking-tight text-secondary sm:text-7xl">Fullstack developer</h1>
          <p class="mt-8 text-pretty text-lg font-medium text-primary-400 sm:text-xl/8">
              Hello, I am Sara El Allouche.<br>
              From interactive design to robust back-end, I create complete digital solutions adapted to your needs.
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="bg-primary-800 py-24 sm:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <div class="col-span-2 pt-32">
        <h2 class="text-base/7 font-semibold text-indigo-600">Everything you need</h2>
        <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-secondary sm:text-5xl">Skills</p>
        <p class="mt-6 text-base/7 text-secondary-600">
            During my two years in a work-study program in a start-up specializing in web and mobile development, I gained valuable experience working on various projects, ranging from initial design to putting online, not forgetting maintenance. continues. This immersion allowed me to understand the challenges of each stage of the development process and to collaborate closely with different teams. I was thus able to strengthen my technical skills while refining my project management skills. In particular, I have developed solid expertise in Django, whether for the creation of dynamic websites or for the implementation of robust APIs. Working on site design is one of my strong points, and I take real pleasure in combining aesthetics and performance to offer exceptional user experiences.
        </p>
      </div>
      <dl class="col-span-3 grid grid-cols-1 gap-x-8 gap-y-10 text-base/7 text-secondary-600 sm:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Django
          </dt>
          <dd class="mt-2">I used Django to develop secure, high-performance websites and web applications. It allowed me to create projects quickly thanks to its built-in features.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Angular
          </dt>
          <dd class="mt-2">I used Angular to develop dynamic web applications with a smooth and interactive user interface. </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Mobile app
          </dt>
          <dd class="mt-2">I used Flutterflow or Ionic in mobile development to create intuitive, accessible and optimized applications for iOS and Android.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            HMTL/CSS
          </dt>
          <dd class="mt-2">I used HTML, CSS, Tailwind and Boostrap to create responsive and aesthetic websites, ensuring a simple and modern user interface.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            AWS / GCP
          </dt>
          <dd class="mt-2">I used AWS and GCP to deploy web applications on the cloud, ensuring efficient resource management and optimal scalability.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Alpine / HTMX
          </dt>
          <dd class="mt-2">I used Alpine and HTMX to add interactive and dynamic features to websites without adding code.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Github
          </dt>
          <dd class="mt-2">I used Github to manage and version my projects, making it easier to collaborate and track changes.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-secondary">
            <svg class="absolute left-0 top-1 size-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            BDD
          </dt>
          <dd class="mt-2">I've used SQL databases like MySQL and PostgreSQL, as well as NoSQL databases like MongoDB to efficiently store and manage data in my web projects</dd>
        </div>
      </dl>
    </div>
  </div>
</div>


		{% endblock %}
