{% load static %}
{% load i18n %}
<section class="mx-auto pt-20 max-w-7xl px-6 lg:px-8 md:space-y-10 mb-8 ">

    <!-- Bloc 1 -->
    <div class=" md:grid md:grid-cols-4 gap-x-8 lg:items-center mx-auto ">
        <div class="py-6" >
            <img
            class="rounded-2xl object-cover shadow-xl mx-auto h-48 w-80 md:max-h-48 md:w-full self-center"
            src="{% static 'images/group.jpg' %}"
            alt=""
          >
        </div>
        
        <p class="text-base leading-7 text-secondary_accent col-span-3">
            {% blocktrans %}
                C’est en <strong>terminale</strong> que j’ai eu mon tout premier contact avec la programmation, à travers un projet en <strong>Python</strong> (avec <strong>Tkinter</strong>) réalisé en équipe.<br>
                Ce projet a été une véritable révélation : j’ai adoré voir une interface se construire progressivement, faire évoluer le design, et obtenir un résultat final à la fois fonctionnel et fidèle à nos attentes.<br>
                Issue d’un profil orienté <strong>mathématiques</strong>, j’ai trouvé dans l’informatique un équilibre parfait entre <strong>logique</strong>, <strong>créativité</strong> et <strong>résolution de problèmes</strong>.<br>
                C’est à ce moment-là que j’ai su que je voulais en faire mon métier.
            {% endblocktrans %}
          <br><br>
        </p>
      </div>
      
  
    <!-- Bloc 2 -->
    <div class="flex flex-col-reverse md:grid md:grid-cols-4 gap-x-8 lg:items-center mx-auto ">
      <p class="text-base leading-7 text-secondary_accent col-span-3">
        {% blocktrans %}
            Par la suite, j’ai intégré la <strong>licence MIASHS</strong> à l’Université Paris 1 Panthéon-Sorbonne. Cette formation m’a permis d’évoluer dans un environnement <strong>pluridisciplinaire</strong>, combinant <strong>mathématiques</strong>, <strong>informatique</strong>, <strong>économie</strong> et <strong>sciences humaines</strong>.<br>
            Sur le plan informatique, j’ai étudié différents langages et technologies tels que <strong>Python</strong>, <strong>Java</strong>, <strong>PHP</strong>, <strong>HTML</strong>, <strong>CSS</strong>, tout en approfondissant mes connaissances à travers des cours de <strong>réseaux</strong>, <strong>architecture des ordinateurs</strong>, <strong>bases de données relationnelles</strong>, et même de <strong>droit du numérique</strong>.<br>
            Ce programme exigeant m’a permis d’acquérir de solides <strong>compétences techniques</strong> tout en développant une <strong>rigueur analytique</strong> et une bonne compréhension des enjeux numériques dans leur globalité.
        {% endblocktrans %}
      </p>
      <div class="py-6">
        <img
        class="rounded-2xl object-cover shadow-xl mx-auto h-48 w-80 md:max-h-48 md:w-full self-center"        
        src="{% static 'images/desk.jpg' %}"
        alt=""
      >
    </div>
      
    </div>
  
    <!-- Bloc 3 -->
    <div class="md:grid md:grid-cols-4 gap-x-8 lg:items-center mx-auto  ">
      <div class="py-6">
            <img
            class="rounded-2xl object-cover shadow-xl mx-auto h-48 w-80 md:max-h-48 md:w-full self-center"
                src="{% static 'images/diplome.jpg' %}"
                alt=""
            >
        </div>
      <p class="text-base leading-7 text-secondary_accent col-span-3">
        {% blocktrans %}
            Naturellement, j’ai poursuivi mon cursus avec un <strong>Master MIAGE</strong>, toujours à Paris 1, qui allie <strong>informatique</strong>, <strong>gestion de projet</strong> et <strong>systèmes d'information d'entreprise</strong>.<br>
            Ce master m’a permis d’approfondir mes compétences techniques tout en élargissant ma vision du rôle de l’informatique dans l’entreprise.<br>
            J’y ai étudié des sujets avancés comme le <strong>cloud computing</strong> (<strong>AWS</strong>, <strong>GCP</strong>), la <strong>cybersécurité</strong>, l’<strong>architecture logicielle</strong>, la <strong>modélisation UML</strong>, les <strong>systèmes de gestion de bases de données avancés</strong>, ainsi que les bases du <strong>machine learning</strong> et de la <strong>blockchain</strong>.<br>
            Le tout accompagné d’un travail continu sur le <strong>développement logiciel</strong> (en <strong>Python</strong>, <strong>JavaScript</strong>, etc.).
        {% endblocktrans %}
      </p>
    </div>
  
</section>