{% load i18n %}
<div class="text-center mb-16">
    <p class="text-base font-semibold text-tertiary">{% trans "À propos de moi" %}</p>
    <h1 class="mt-2 text-4xl font-bold tracking-tight text-light sm:text-5xl">{% trans "Mon parcours" %}</h1>
    <p class="mt-6 text-lg text-light">
      {% blocktrans %}
        Mon parcours est le reflet de ma passion croissante pour l’informatique, 
        de mes premières lignes de code à un master en alternance. 
        J’ai construit étape par étape une solide base théorique, complétée par une expérience professionnelle concrète.
      {% endblocktrans %}
    </p>
  </div>