{% load i18n %}
<div class="bg-dark mt-16 py-6 px-6 lg:px-8 ">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-3 ">
        <div>
          <time datetime="2021-08" class="flex items-center text-sm/6 font-semibold text-light">
            <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
              <circle r="2" cx="2" cy="2" fill="currentColor" />
            </svg>
            {% trans "Juil. 2019" %}
            <div aria-hidden="true" class="absolute -ml-2 h-px w-screen -translate-x-full bg-primary/50 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
          </time>
          <p class="mt-6 text-lg/8 font-semibold tracking-tight text-primary h-24">{% trans "Baccalauréat Scientifique option ISN <br>(Informatique et sciences du numérique)" %}</p>
        </div>
        <div>
          <time datetime="2021-12" class="flex items-center text-sm/6 font-semibold text-light">
            <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
              <circle r="2" cx="2" cy="2" fill="currentColor" />
            </svg>
            {% trans "Sept. 2019 – Sept. 2022" %}
            <div aria-hidden="true" class="absolute -ml-2 h-px w-screen -translate-x-full bg-primary/50 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
          </time>
          <p class="mt-6 text-lg/8 font-semibold tracking-tight text-primary  h-24">{% trans "Licence MIASHS <br> (Mathématiques et Informatique Appliquées aux Sciences Humaines et Sociales)</p>" %}
          
        </div>
        <div>
          <time datetime="2022-02" class="flex items-center text-sm/6 font-semibold text-light">
            <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
              <circle r="2" cx="2" cy="2" fill="currentColor" />
            </svg>
            {% trans "Sept. 2022 – Sept. 2024" %}
            <div aria-hidden="true" class="absolute -ml-2 h-px w-screen -translate-x-full bg-primary/50 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
          </time>
          <p class="mt-6 text-lg/8 font-semibold tracking-tight text-primary h-24">{% trans "Master 2 MIAGE <br>(Méthodes Informatiques Appliquées à la Gestion des Entreprises)" %}</p>
          
        </div>
      </div>
</div>